/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2015, 6:19:17 PM
    Author     : hunterdowning
*/

body{
    background-color: lightcyan;
    color: navy;
        font-size:medium;
            font-family: arial;
        
        }
        .hunter{
            border: 4px groove #000;
            border-radius: 60px;
            color: black;
        }
        #Hunter{
            background-color: purple;
            color: white;
            font-size: 20pt;
            
        }